<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">

    <h1 th:text="${title}"></h1>

    <p><a href="/item/new">Add Item</a></p>

    <form method="post" action="/cart/add-item/">

        <div th:each="item : ${items}" class="form-group">
            <input type="checkbox" name="ids" th:value="${item.uid}" th:id="${item.uid}"/>
            <label th:for="${item.uid}" th:text="${item.name}"></label>
        </div>

        <input type="submit" value="Add To Cart" />
    </form>

</div>

</body>
</html>
